extends ../layouts/layout_main
block content
  
  .container.container-fluid

    .row
      div
        | Панель управления


      a.next(href='/admin/student') •Управление анкетами студентов
      br
      a.next(href='/admin/teacher') •Управление анкетами преподавателей
      br
      a.next(href='/admin/qr') •Управление QR кодами
      br
      a.next(href='/admin/news') •Управление новостями

      //
        br
        a.next(href='/schedule/a-62') •A-62
        br
        a.next(href='/schedule/a-62') •A-63
        br
        a.next(href='/schedule/a-62') •A-64
        br
        a.next(href='/schedule/a-62') •A-65
 







