extends ../layouts/layout_main
block content
  .container.container-fluid
    form.form-horizontal#credentialsForm(role='form' enctype="multipart/form-data" action='/admin/create/qr' method='POST')
      .row
        .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.col-sm-12.col-xs-12
          .checkout.margin-bottom-10
            .row.header.margin-bottom-10
              .col-lg-12.col-md-12.col-sm-12.col-xs-12(style='background-color:#F5F5F5;')
                h4 Добавить код
            .row.margin-bottom-10.margin-sides-10
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .form-group
                  label.col-sm-3.control-label(for='name') Наименование QR кода
                  .col-sm-8
                    input#name.form-control(type='text', placeholder='Наименование' name='name', autocomplete='off' value='' required)
                .form-group
                  label.col-sm-3.control-label(for='description') Описание
                  .col-sm-8
                    input#description.form-control(type='text', placeholder='Описание', name='description' value='')
                .form-group
                  label.col-sm-3.control-label(for='description') Изображение
                  .col-sm-8
                    input#image.form-control(type='file' name='image')
                    
                button.btn.btn-primary(type='submit') Добавить
    div
        | Список qr кодов
      table.table.table-stripped
        tr
          td Название
          td Описание
          td Изображение
          td Удалить

        - qrs.forEach(function(qr) {
          tr
            td 
              | #{qr.name}
            td
              | #{qr.description}
            td
              img(src='#{qr.local_url}')
            td
              a(type='button' href='/admin/delete/qr/' + '#{qr.id}').btn.btn-danger.btn-xs Х
        - })