.footer-wrap
  .container.container-fluid
    .row
      .col-md-12
        ul.footer-nav
          li
            a(href='#') T-Shirts & Apparel
          li
            a(href='#') Promotional Items
          li
            a(href='#') School Uniforms
          li
            a(href='#') About Us
          li
            a(href='#') Careers