extends ../layouts/layout_main
block content
  
  .container.container-fluid

    .row
      div
        | Список групп с журналом посещений

      - groups.forEach(function(group) {
        .row
          .col-md-4
            | #{group.name}
          .col-md-4
            - group.disciplines.forEach(function(disc) {
              a.next(href='/journal/group/' + group.name + '/discipline/' + disc.name) •#{disc.name}
              br
            - })
        br
      - })

      //
        br
        a.next(href='/schedule/a-62') •A-62
        br
        a.next(href='/schedule/a-62') •A-63
        br
        a.next(href='/schedule/a-62') •A-64
        br
        a.next(href='/schedule/a-62') •A-65
 







