extends ../layouts/layout_main
block content
  script.
    function request_reset_password(){
      var btn_text = $('#forgotSubmitBtn').text()
      $('#forgotSubmitBtn').text('Processing...')
      $('#forgotSubmitBtn').attr('disabled','disabled')
      $('.alert-warning').stop()
      $('.alert-error').stop()
      $('.alert-success').hide(500)
      console.log('reset_password_request')
      var form = $('#forgotForm').serialize()
      var query = '#{query}'
      $.ajax({
        url: '/reset_password_request',
        type: 'POST',
        data: form
        ,success: function(body,textStatus) {
          $('#forgotSubmitBtn').text(btn_text)
          $('#forgotSubmitBtn').removeAttr('disabled')
          if(body.success){
            
            $('.alert-warning').hide()
            $('.alert-error').hide()
            $('.alert-success').html(body.message+'. Redirect to homepage in 5 seconds')
            $('.alert-success').show(500)
            
            setTimeout(function() { 
                window.location.href = '/'
              }, 5000)
          }else if(!body.error){
            $('.alert-warning').hide()
            $('.alert-error').hide()
            $('.alert-warning').html(body.message)
            $('.alert-warning').show(500, function(){
              setTimeout(function() { $('.alert-warning').hide(500)  }, 2000)
            })
          }else{
            $('.alert-warning').hide()
            $('.alert-error').hide()
            $('.alert-error').html(body.message)
            $('.alert-error').show(500, function(){
              setTimeout(function() { $('.alert-warning').hide(500)  }, 2000)
            })
          }
        },
        error: function(a,b,c) {
          $('#forgotSubmitBtn').text(btn_text)
          $('#forgotSubmitBtn').removeAttr('disabled')
          console.error('request password change error');
          console.log(arguments);
        }
      });
    }
  .container.container-fluid
    .row
      .alert.alert-success(hidden)
        h4 message
      .alert.alert-warning(hidden)
        h4 message
      .alert.alert-error(hidden)
        h4 message
      .col-lg-6.col-md-6.col-sm-6.col-xs-12.col-lg-offset-3
        .checkout.margin-bottom-10
          .row.header.margin-bottom-10
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              h4 Request password reset
          .row.margin-bottom-10.margin-sides-10
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
              p Enter your email to get reset password link
          form#forgotForm(action="javascript:request_reset_password();")
            .row.margin-bottom-10.margin-sides-10
              .col-lg-4.col-md-4.col-sm-4.col-xs-4
                p Email
              .col-lg-8.col-md-8.col-sm-8.col-xs-8
                input.email(type='email' name='email' required)
            .row.margin-bottom-10.margin-sides-10
              .col-lg-6.col-md-8.col-sm-8.col-xs-12.col-lg-offset-3
                button.btn.btn-info.btn-checkout#forgotSubmitBtn(type='submit')
                  | send request
            .row.margin-bottom-10.margin-sides-10
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
