extends ../layouts/layout_main
block content
  #mainwrapper.container.container-fluid.margin-bottom-30
    .row
      //
         FLYOUT NAV 
      h1.text-center 400
      - if(message)
        h3 #{message}
      h3 Weird your not authorized to view this? How can we help?