extends ../layouts/layout_main
block content
  #mainwrapper.container.container-fluid
    .row
      //
         FLYOUT NAV 
      h1.text-center 404
      -if(message)
        h4 #{message}
      -else
        //
        h3 Looking for something?
        hr.nav-divider
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          ul.errorCategories
            li
              h4
                a(href='#') T-Shirts
                ul.second-level-nav
                  li
                    a(href='#') Adult
                  li
                    a(href='#') Ladies
                  li
                    a(href='#') Longsleeves
                  li
                    a(href='#') Pocket
                  li
                    a(href='#') Youth/Infant
                  li
                    a(href='#') Fashion Fit
                  li
                    a(href='#') Made in USA
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          ul.errorCategories
            li
              h4
                a(href='#') Golf &amp; Polos
                ul.second-level-nav
                  li
                    a(href='#') Mens
                  li
                    a(href='#') Ladies
                  li
                    a(href='#') Longsleeves
                  li
                    a(href='#') Performance
                  li
                    a(href='#') Nike
                  li
                    a(href='#') Adidas
                  li
                    a(href='#') Ogio
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          ul.errorCategories
            li
              h4
                a(href='#') Dress Shirts
                ul.second-level-nav
                  li
                    a(href='#') Easy Care
                  li
                    a(href='#') Office Wear
                  li
                    a(href='#') Oxfords
                  li
                    a(href='#') Denim
                  li
                    a(href='#') Camp Shirts
                  li
                    a(href='#') Ladies
                  li
                    a(href='#') Fishing Shirts
                  li
                    a(href='#') Tall
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          ul.errorCategories
            li
              h4
                a(href='#') Work Wear
                ul.second-level-nav
                  li
                    a(href='#') Saftey
                  li
                    a(href='#') Work Jackets
                  li
                    a(href='#') Work Shirts
                  li
                    a(href='#') Medical/Scrubs
                  li
                    a(href='#') Aprons
                  li
                    a(href='#') Pants
                  li
                    a(href='#') Chef Wear
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          ul.errorCategories
            li
              h4
                a(href='#') Bags
                ul.second-level-nav
                  li
                    a(href='#') Backpacks
                  li
                    a(href='#') Briefcase/Messenger
                  li
                    a(href='#') Tablet/Computer
                  li
                    a(href='#') Duffel Bags
                  li
                    a(href='#') Tavel Bags
                  li
                    a(href='#') Golf Bags
                  li
                    a(href='#') Cooler Bags
                  li
                    a(href='#') Cinch Sacks
                  li
                    a(href='#') Totes/Speciality
                  li
                    a(href='#') Grocery Totes
                  li
                    a(href='#') Earth Friendly
                  li
                    a(href='#') Nike
                  li
                    a(href='#') Ogio
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          ul.errorCategories
            li
              h4
                a(href='#') Hats
                ul.second-level-nav
                  li
                    a(href='#') Flex Fits
                  li
                    a(href='#') Performance
                  li
                    a(href='#') PriceBuster
                  li
                    a(href='#') Structured
                  li
                    a(href='#') Low Profile
                  li
                    a(href='#') Garment Washed
                  li
                    a(href='#') Camo
                  li
                    a(href='#') Youth
                  li
                    a(href='#') Trucker
                  li
                    a(href='#') Visor
                  li
                    a(href='#') Beanies
                  li
                    a(href='#') Military Caps
                  li
                    a(href='#') Sun Protection
                  li
                    a(href='#') Nike Golf
                  li
                    a(href='#') Sport-Tek
                  li
                    a(href='#') Adams
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          ul.errorCategories
            li
              h4
                a(href='#') Outerwear
                ul.second-level-nav
                  li
                    a(href='#') Sweatshirts
                  li
                    a(href='#') Sweatpants
                  li
                    a(href='#') Soft Shell
                  li
                    a(href='#') Fleece Jackets
                  li
                    a(href='#') Fleece Vests
                  li
                    a(href='#') Parkas/Shell Systems
                  li
                    a(href='#') Camouflage
                  li
                    a(href='#') Leather/Woll
                  li
                    a(href='#') Vests
                  li
                    a(href='#') Windshirts
                  li
                    a(href='#') Warm-Ups
                  li
                    a(href='#') Youth
                  li
                    a(href='#') Tall
                  li
                    a(href='#') Nike
                  li
                    a(href='#') Weatherproof